<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
	<testsuites>
		<testsuite name="Pasap">
			<directory>./test</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./source</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="../temp/phpunit-coverage" lowUpperBound="40" highLowerBound="80"/>
	</logging>
</phpunit>
